<form #f="ngForm" (ngSubmit)="onSubmit(f)" >
  <div class="row">
    <div class="col-md-6">
      <div class="form-group" [class.has-error]="!name.valid && name.touched">
        <label for="name" class="control-label">Nome</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Nome completo" [(ngModel)]="usuario.name" required="true" minlength="4" #name="ngModel" />
        <div *ngIf="!name.valid && name.touched"  class="alert alert-danger">Campo de preenchimento obrigatório</div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="form-group" [class.has-error]="!email.valid && email.touched">
        <label for="email" class="control-label">Email</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Endereço de e-mail" [(ngModel)]="usuario.email" required="true" email #email="ngModel" />
        <div *ngIf="!email.valid && email.touched" class="alert alert-danger">Campo de preenchimento obrigatório</div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!f.valid"
  >Submit</button>
</form>
